:root {
  --white: #fff;
  --black: #000;
  --gray: #8b8b8b;
  --highlight: #e5ffc3;
  --red: #e4002b;
  --green: #24d05a;
  --pink: #eb4888;
  --blue: #10a2f5;
  --yellow: #e9bc3f;
  --off-white: #f5f5f5;
  --off-black: #1a1a1a;
  --dark-navy: #000022;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body,
button,
input,
textarea {
  background: var(--off-white);
  color: var(--off-black);
  font-family: "Open Sans", sans-serif;
}

p {
  text-align: justify;
}

::selection {
  background-color: var(--highlight);
  color: var(--off-black);
}

body.dark-mode,
body.dark-mode button,
body.dark-mode .go-home,
button.dark-mode,
button.dark-mode button,
body.dark-mode input,
body.dark-mode textarea {
  background: var(--off-black);
  color: var(--off-white);
}

button {
  width: 120px;
  height: 30px;
  border: 2px solid var(--gray);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--gray);
  font-size: 1rem;
  overflow: auto;
  transition: 0.4s ease all;
}
button:hover {
  /*background: rgba(150, 151, 156, 0.1);*/
  cursor: pointer;
}

.container {
  margin: 50px auto;
  padding: 5px;
  max-width: 650px;
  min-height: 100vh;
}
@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header-frame {
  max-width: 350px;
}

.go-home {
  position: fixed;
  top: 5px;
  left: 20px;
  padding: 5px 5px 5px 0;
  background: var(--white);
  box-sizing: border-box;
}

.links-and-toggler {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 35px;
  width: 100%;
  background-color: var(--dark-navy);
  z-index: 6;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  background-color: var(--black);
  color: var(--white);
  font-size: 0.7rem;
}

.footer-content {
  max-width: 350;
}

.dark-mode-toggler {
  position: fixed;
  topcenter: 5px;
  right: 20px;
  z-index: 7;
}
.dark-mode-toggler label {
  position: relative;
}
.dark-mode-toggler input[type="checkbox"] {
  display: none;
}
.dark-mode-toggler input[type="checkbox"] + label::before {
  content: "";
  display: block;
  height: 21px;
  width: 45px;
  background: var(--white);
  border: 2px solid var(--gray);
  border-radius: 15px;
  position: absolute;
  top: 0px;
  left: -46px;
}
.dark-mode-toggler input[type="checkbox"] + label::after {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  background: var(--gray);
  border: 2px solid var(--white);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: -45px;
  transition: all 0.4s ease-in;
}
.dark-mode-toggler input[type="checkbox"]:checked + label::before {
  background: var(--black);
  border: 2px solid var(--white);
}
.dark-mode-toggler input[type="checkbox"]:checked + label::after {
  left: -19px;
  background: var(--black);
  border: 2px solid var(--white);
  transition: all 0.4s ease-in;
}

h1 {
  font-weight: 400;
  margin: 0;
}

h2 {
  color: var(--gray);
  font-weight: 300;
  margin: 0 0 0.5em 0;
}

a {
  color: var(--gray);
}
a:hover {
  font-weight: bold;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

thead tr {
  border-bottom: 3px solid var(--black);
}

tbody tr:not(:last-child) {
  border-bottom: 2px solid var(--gray);
}

tr td:nth-child(1) {
  padding: 20px;
  padding-left: 0;
  font-weight: bold;
}

tr td:nth-child(2) {
  text-align: right;
}

br {
  display: block;
  content: "";
  margin-bottom: 15px;
}

.img-frame {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 0 10px 0;
  border-radius: 0%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  overflow: hidden;
}
.img-frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}

.services-contact-section {
  display: flex;
  align-items: right;
  justify-content: right;
  flex-wrap: nowrap;
}

.service-section {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 20px;
  flex-wrap: nowrap;
}

.text-left-frame {
  max-width: 514px;
}

.img-right-frame {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 0 10px 0;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .img-right-frame {
    flex-basis: 0;
  }
  p {
    /*text-align: left;*/
  }
}
.img-right-frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}

.links {
  margin-top: 5px;
  margin-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
}
.links a:not(:last-child) {
  padding: 0 12px 0 0;
}

@media (max-width: 600px) {
  .links {
    text-align: center;
  }
}

.toggler {
  margin: 25px 0;
}
.toggler .show {
  border-color: var(--pink);
  color: var(--pink);
}
@media (max-width: 600px) {
  .toggler {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
  }
  .toggler button {
    flex-shrink: 3;
    flex-grow: 3;
  }
}

.tab {
  display: none;
  line-height: 1.6;
  margin-top: 20px;
}

.tab.show {
  display: block;
}

.services {
  display: none;
  line-height: 1.6;
  margin-top: 20px;
}

.services.show {
  display: block;
}

.collapsible {
  /*background-color: #777;

  color: white;
  */

  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
}

.active,
.collapsible:hover {
  /*background-color: #555;*/
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  /*background-color: #f1f1f1;*/
}

.contact-button {
  /* should be on the right side of containing div */
  position: relative;
  right: 0;
}

.aside {
  /* the background color and text color should be reversed compared to other sections, the text font family will be different */
  border: 1px solid var(--gray);
  /*font-family: "Roboto", sans-serif;*/
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2em;
}

#headshot-img {
  float: left;
  padding: 10x;
  margin: 1em 1em 1em 1em;
  border-radius: 50%;
  border-bottom-left-radius: 0;
  width: 200px;
}
@media (max-width: 600px) {
  #headshot-img {
    width: 100px;
  }
}
